.label {
  opacity: 0;
  font-size: 0rem;
}

.input {
  width: 100%;
  border-radius: 5px;
  font-weight: 500;
  padding: 15px 40px;
  border: 1px solid var(--Grayish-Blue);
  outline: none;
  margin: 10px 0;
}

.input:focus {
  border: 1px solid var(--Blue);
}
