.label {
  opacity: 0;
}

.input {
  width: 100%;
  border-radius: 5px;
  font-weight: 500;
  padding: 15px 40px;
  border: 1px solid var(--Grayish-Blue);
  outline: none;
  margin-bottom: 5px;
}

.input:focus {
  border: 1px solid var(--Blue);
}

input.error {
  border: 1px solid var(--Red);
  color: var(--Red);
}

span.error {
  font-size: 0.8rem;
  text-align: right;
  display: block;
  margin-bottom: -19px;
  color: var(--Red);
}

.inputWrapper {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: relative;

  img {
    position: absolute;
    right: 15px;
  }
}
